.booksearchContainer {
  min-height: 100vh;
  background-color: white;
  position: relative;
  padding-top: 420px;
}

.booksearchTopImage2 {
  position: absolute;
  top: 53px;
  left: 48%;
  width: 950px;
  height: 350px;
  z-index: 9;
  opacity: 0.7;
}

.booksearchTopImage {
  position: absolute;
  top: 53px;
  left: 65%;
  transform: translateX(-50%);
  width: 900px;
  height: 350px;
  z-index: 10;
}

.bookGrid,
.resultsGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem 0.3rem; /* 갭 줄임 */
  width: 100%;
  margin: 0 auto;
  padding: 2rem 21.5rem;
  box-sizing: border-box;
  place-items: center;
}

.bookCard {
  text-align: center;
}

.bookCardImage {
  width: 260px;   /* 작게 조정 */
  height: 340px;
  object-fit: cover;
  border-radius: 4px;
  transition: transform 0.2s;
  box-shadow: #777;
}

.bookCardImage:hover {
  transform: scale(1.05);
}

.bookTitle {
  font-size: 0.75rem;
  margin-top: 0.3rem;
  font-weight: bold;
}

.bookAuthor {
  font-size: 0.65rem;
  color: #777;
}

.overlayCtn {
  display: flex;
  justify-content: center;
}

.dimOverlay {
  position: absolute;
  top: 450px;
  width: 1309px;
  left: 18.1%;
  height: calc(300vh - 400px);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.booksearchInputContainer,
.searchInputContainer {
  position: absolute;
  top: 500px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;

}

.searchInputWrapper {
  position: relative;
  width: 24rem;
}

.searchIcon {
  position: absolute;
  top: 50%;
  left: 0.75rem;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  pointer-events: none;
  z-index: 10;
}

.booksearchInput,
.searchInput {
  width: 100%;
  padding: 0.75rem 1rem 0.75rem 2.5rem;
  border-radius: 5px;
  border: 0.5px solid #ccc;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 1 4px 10px rgba(52, 52, 52, 0.1);
  backdrop-filter: blur(3px);
  outline: none;
  font-size: 1.3rem;
  text-align: center;
}

.noResultsText {
  grid-column: span 5;
  text-align: center;
  color: #6b7280;
}
