.booksearch-container {
  min-height: 100vh;
  background-color: white;
  position: relative;
  padding-top: 400px; 
}

.booksearch-top-image2 {
  position: absolute;
  top: 53px;
  left: 48%;
  width: 950px;
  height: 350px;
  z-index: 9; /* 아래쪽으로 겹치게 */
  opacity: 0.2; /* 살짝 투명하게 겹쳐보이도록 */
}

.booksearch-top-image {
  position: absolute;
  top: 53px;
  left: 65%;
  transform: translateX(-50%);
  width: 900px;
  height: 350px;
  z-index: 10;
}

.book-grid,
.results-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3rem 2rem;
  width: 100%;
  margin: 0 auto;
  padding: 3rem 2rem;
  box-sizing: border-box;
  place-items: center;
}

.book-card {
  margin: 0.5rem;
}
.book-card-image {
  width: 80px;    
  height: 120px;    
  object-fit: cover;
  border-radius: 4px;
}

.blurred {
  filter: blur(4px) brightness(0.5);
}

.dim-overlay {
  position: absolute;
  top: 450px;
  left: 0;
  width: 100%;
  height: calc(300vh - 400px);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}


.booksearch-input-container,
.search-input-container {
  position: absolute;
  top: 500px; 
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
}


.search-input-wrapper {
  position: relative;
  width: 24rem;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 0.75rem;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  pointer-events: none;
  z-index: 10;
}

.booksearch-input,
.search-input {
  width: 100%;
  padding: 0.75rem 1rem 0.75rem 2.5rem;
  border-radius: 5px; 
  border: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 1 4px 10px rgba(52, 52, 52, 0.1);
  backdrop-filter: blur(2px);
  outline: none;
  font-size: 1rem;
  text-align: center;
}

.search-results {
  position: absolute;
  inset: 0;
  background-color: white;
  z-index: 15;
  padding-top: 600px;
}

.no-results-text {
  grid-column: span 5;
  text-align: center;
  color: #6b7280;
}

