.GalleryMark-1{
    position: relative;
    width: 1686px;
    height: 561px;
    top: -28px;
    left: 245px;
}

.GalleryMark-2{
    position: relative;
    width: 1686px;
    height: 561px;
    top: -28px;
    left: 204px;
}

