/* NAV */
@font-face {
  font-family: "Pretendard";
  src: url("/src/assets/fonts/Pretendard.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
}

.Allnavcontainer {
  display: flex;
  flex-direction: column;
  position: relative;
  row-gap: 10px;
  margin-left: 50px;
  margin-top: -370px;
}

.Gradation {
  width: 100vw;
  height: 416px;
}

.Logo {
  color: #15719e;
  font-family: Pretendard;
  cursor: pointer;
  font-size: 29px;
  font-weight: 800;
}

.Navdetail {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.Clicknav {
  color: #98A9B2;
  font-family: Pretendard;
  font-size: 21px;
  font-weight: 200;
  cursor: pointer;
}

.Navfirstline,
.Navsecondline {
  display: flex;
  column-gap: 15px;
}


/*서치바*/
.searchBar {
    position: relative; /*top,weight 작동*/
    width: 119px;
    height: 19px;
    top: 58px;
    left: 1585px;
}

/* Img_list */
.img1 {
    /* position: relative;  */
    position: absolute; /*top, left: ; */
    width: 151px;
    height: 102px;
    top: 138px;
    left: 378px;
}

.img2 {
    /* position: relative;  */
    position: absolute; /*top, left: ; */
    width: 200.3571319580078px;
    height: 187px;
    top: 92px;
    left: 501px;
}

.img3 {
    /* position: relative;  */
    position: absolute; /*top, left: ; */
    width: 166px;
    height: 102px;
    top: 138px;
    left: 720px;
}

.img4 {
    /* position: relative;  */
    position: absolute; /*top, left: ; */
    width: 186px;
    height: 279px;
    top: 24px;
    left: 906px;
}

.img5 {
    /* position: relative;  */
    position: absolute; /*top, left: ; */
    width: 260px;
    height: 102px;
    top: 138px;
    left: 1135px;
}

.img6 {
    /* position: relative;  */
    position: absolute; /*top, left: ; */
    width: 134.0654296875px;
    height: 201px;
    top: 84px;
    left: 1399px;
}

.img7 {
    /* position: relative;  */
    position: absolute; /*top, left: ; */
    width: 245.79141235351562px;
    height: 313px;
    top: 244px;
    left: 285px;
}

.img8 {
    /* position: relative;  */
    position: absolute; /*top, left: ; */
    width: 253px;
    height: 102px;
    top: 351px;
    left: 520px;
}

.img9 {
    /* position: relative;  */
    position: absolute; /*top, left: ; */
    width: 362.66668701171875px;
    height: 272px;
    top: 271px;
    left: 676px;
}

.img10 {
    /* position: relative;  */
    position: absolute; /*top, left: ; */
    width: 264px;
    height: 113px;
    top: 351px;
    left: 1036px;
}

.img11 {
    /* position: relative;  */
    position: absolute; /*top, left: ; */
    width: 284px;
    height: 284px;
    top: 296px;
    left: 1248px;
}

.img12 {
    /* position: relative;  */
    position: absolute; /*top, left: ; */
    width: 158px;
    height: 114px;
    top: 577px;
    left: 378px;
}

img13 {
    /* position: relative;  */
    position: absolute; /*top, left: ; */
    width: 175.33334350585938px;
    height: 263px;
    top: 480px;
    left: 573px;
}

img14 {
    /* position: relative;  */
    position: absolute; /*top, left: ; */
    width: 136px;
    height: 114px;
    top: 577px;
    left: 838px;
}

img15 {
    /* position: relative;  */
    position: absolute; /*top, left: ; */
    width: 316.75299072265625px;
    height: 211px;
    top: 533px;
    left: 963px;
}

img16 {
    /* position: relative;  */
    position: absolute; /*top, left: ; */
    width: 171px;
    height: 114px;
    top: 586px;
    left: 1335px;
}

img17 {
    /* position: relative;  */
    position: absolute; /*top, left: ; */
    width: 172.66665649414062px;
    height: 259px;
    top: 683px;
    left: 330px;
}

img18 {
    /* position: relative;  */
    position: absolute; /*top, left: ; */
    width: 407px;
    height: 114px;
    top: 799px;
    left: 552px;
}

img19 {
    /* position: relative;  */
    position: absolute; /*top, left: ; */
    width: 248px;
    height: 250px;
    top: 753px;
    left: 929px;
}

img20 {
    /* position: relative;  */
    position: absolute; /*top, left: ; */
    width: 243px;
    height: 114px;
    top: 799px;
    left: 1155px;
}

img21 {
    /* position: relative;  */
    position: absolute; /*top, left: ; */
    width: 200.1499481201172px;
    height: 267px;
    top: 744px;
    left: 1407px;
}



